<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>EECS 341 Authentication Calendar</title>
	<!-- bootstrap CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/custom.css">
    <script src='/js/jquery.min.js'></script>
    <script src='/js/underscore-min.js'></script>
    <script src='/js/fuzzy-min.js'></script>
    <style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<!-- datetime Picker -->
	<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
</head>
<body>
<div class="container">
    <a style="margin-bottom:18px" class="btn btn-default" href="/calendar">Return to Calendar</a>
    <table class="table">
        <tr>
            <th>Employee</th>
            <th>Invite Status</th>
            <th></th>
        </tr>

        
        <% function cdToString(status) { %>
                <% if(status == 0){ return 'Awaiting response' } %>
                <% if(status == 1){ return 'Accepted' } %>
                <% if(status == 2){ return 'Declined' } %>
                <% return 'Error in parsing status.' %>
            <% } %>
            <% for (var i = 0; i < invitesList.length; i++) { %>
            <tr>
                 <td><%= invitesList[i].name %></td>
                 <td><%= cdToString(invitesList[i].status) %></td>
                 <td>
                  <form action="/calendar/invite/delete" method="POST">
                      <input type="hidden" name="event_id" value="<%= event[0].event_id %>" />
                      <input type="hidden" name="user_id" value="<%= invitesList[i].employee %>" />
                      <input type="submit" class="btn btn-danger" value="Delete Invite" />
                  </form>
                 </td>
            </tr>
       <% } %>
        
    </table>

	<form enctype="application/json" action="/calendar/invite/add" method="POST" >
    <h2 class="">Invite User to <%= event[0].title %></h2>
    <input type="text" id="search" placeholder="Employee Name"></input>
    <input name="user_id" type="hidden" id="user_id"></input>
    <div id="lists">
    </div>
    <input name="event_id" type="hidden" class="form-control" value="<%= event[0].event_id %>"><br>
    <input type="submit" class="btn btn-default" value="Invite Employee"/>
  </form>
</div>
</body>
    <script>
        flatpickr(".flatpickr", {
        enableTime: true
        });
        
        // implement fuzzy search
        _.templateSettings = {
          interpolate : /\{\{(.+?)\}\}/g
        };
        
        var listItemTemplate = _.template('<li class="userlist" onclick="completeSearch(this.innerHTML)">{{name}}</li>');
        
        var list = <%- JSON.stringify(usersList) %>;
        
        function displayResults() {
            var search = $('#search').val();

            var options = {
                extract: obj => obj.name
            };

            // filter
            var filtered = fuzzy.filter(search, list, options);

            // map results to HTML
            var results = filtered.slice(0,10).map(function(result){
                var items = result.string.split('::');
                return listItemTemplate({
                    name : result.string
                });
            });

            // update HTML
             $('#lists').html(results.join(''));
        }

        $(function(){
           // List the initial characters
          displayResults();

          // Filter the characters on each change of the textbox
          $('#search').keyup(displayResults);
        });

        function completeSearch(value){
            $('#search').val(value);
            for(var i = 0; i < list.length ; i++){
                if(list[i].name === value){
                    $('#user_id').val(list[i].user_id);
                }
            }
        }
    </script>
</html>
